<!-- start custom head snippets -->
<link rel="manifest" href="/manifest.webmanifest">
<link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bigfoot/2.1.4/bigfoot.min.js"></script>

<link rel="stylesheet" href="/assets/css/patreon.css">
<link rel="stylesheet" href="/assets/css/license.css">
<link rel="stylesheet" href="/assets/css/bigfoot-number.css">
<script type="text/javascript">
  var bigfoot = $.bigfoot({
    actionOriginalFN: "hide",
    positionContent: "true"
  });
</script>
<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
